.navbar {
    height: 30px;
}

.medium-size {
    font-size: 20pt;
}

.title {
    font-size: 30pt;
    font-weight: normal;
}

label {
    font-weight: normal !important;
}

.field {
    margin-bottom: 10px;
}

.input {
    width: 25rem;
    height: 2.5rem;
}

.input-icon {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

th,
.tr-body {
    cursor: pointer;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    table-layout:fixed; 
    word-break:break-all;
}

@media screen and (max-width: 900px) {

    table { border: 0; }

    table thead { display: none; }

    table tr {
      margin-bottom: 30px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right !important;
      font-size: 13px;
    }

    table tr:last-child { border-bottom: 0; }

    table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }

}
