<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://kit.fontawesome.com/08ca8b8a5a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                    <figure class="image is-24x24">
                        <img src="/static/turnips_logo_color.svg">
                    </figure>
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/see_islands">Join</a>
                        <a class="navbar-item" href="/create_island">Host</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                            {% if not is_logged_in %}
                                <a href="/signup" class="button is-primary">
                                    <strong>Sign up</strong>
                                </a>
                                <a href="/login" class="button is-light">
                                    Log in
                                </a>
                            {% else %}
                                <a href="/logout" class="button is-primary">
                                    Logout
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <section class="section" style="min-height: 60vh; width: 100%;">
                {% block content %}{% endblock content %}
            </section>
        </div>

        <div class="hero-foot">
            <footer class="footer">
                <div class="content">
                    <div class=columns>
                        <div class="column">
                            <div class="medium-size">Donate</div> <br>
                            <img src="/static/bitcoinqr.png"> <br>
                            bc1qecr6sqc3whe7zzv305y07js5flw633rajslhda
                        </div>
                        <div class="column">
                            <div class="medium-size">Contribute on Github </div> <br>
                            <iframe src="https://ghbtns.com/github-btn.html?user=danielabrozzoni&repo=turnips&type=star&count=true&size=large" frameborder="0" scrolling="0" width="200" height="30" title="GitHub"></iframe> <br>
                            <iframe src="https://ghbtns.com/github-btn.html?user=danielabrozzoni&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="300" height="30" title="GitHub"></iframe>
                        </div>
                        <div class="column">
                            <div class="medium-size">Contact us </div> <br>
                        </div>
                </div>
            </footer>
        </div>
    </section>
</body>
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
</html>
