<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_island" method="POST">
        <label for="name">Island name:</label><br>
        <input type="text" name="name"><br>
        <label for="host_name">Host name:</label><br>
        <input type="text" name="host_name"><br>
        <label for="DODO">DODO:</label><br>
        <input type="text" name="DODO"><br>
        <label for="turnips_price">turnips price:</label><br>
        <input type="number" name="turnips_price"><br>
        <label for="max_queue_size">turnips price:</label><br>
        <input type="number" name="max_queue_size"><br>
        <label for="fee_description">Fee description:</label><br>
        <input type="text" name="fee_description"><br>
        <label for="host_description">Fee description:</label><br>
        <input type="text" name="host_description"><br>
        <label for="map_description">Fee description:</label><br>
        <input type="text" name="map_description"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>