{% extends "base_template" %}
{% block content %}
        <div class="container is-fullheight">
            <h1 class="title">Hi turnips</h1>
            <p class="Subtitle">Sell your turnips <br> It's free but if you pay me I'm happy.<p>
        </div>
{% endblock content %}